.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  line-height: 20px;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
}
.primary {
  color: white;
  background-color: #377DFF;
}
.secondary {
  color: #377DFF;
  background-color: #E5F1FF;
}
.small {
  // font-size: 12px;
  // padding: 10px 16px;
}
.medium {
  // font-size: 14px;
  // padding: 11px 20px;
}
.large {
  // font-size: 16px;
  // padding: 12px 24px;
}
