$font-primary: 'Inter', -apple-system, 'Helvetica Neue', 'Segoe UI', 'Arial',
  sans-serif;
$font-secondary: 'Gilroy', 'Avenir', 'Century Gothic', -apple-system,
  'Helvetica Neue', 'Segoe UI', 'Roboto', sans-serif;

:root {
  font-size: 20px;
  font-family: $font-primary;
  font-weight: normal;
}
// 18px
// 20px
// 24px
// 26px
// 28px
// 32px
// 40px
// 48px
// 60px
// 80px
